.page-container {
	margin: 7% auto;
	vertical-align: top;
}


.title {
	padding: 5px auto;
	margin-top: 20px;
	text-align: center;
}

.create-event-form{
	margin: 0 auto;
	float: none;
}

#step1 {
	max-width: 300px;
	margin: auto;
}

.calender .datepicker {
	margin: auto;
}

#step2 p{
	text-align: center;
}

.time-table {
	margin: auto;
}